name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: checkout
        uses: actions/checkout@v2

      - name: install dependencies
        run: uv python install

      - name: run mypy
        run: uv run mypy .

      - name: run black
        run: uv run black .

      - name: install podman
        run: |
          set -exo pipefail
          sudo apt-get update
          sudo apt-get install -y podman
          sudo sed -i 's/unqualified-search-registries.*/unqualified-search-registries = ["docker.io"]/' /etc/containers/registries.conf
          podman info
          podman run --rm -ti busybox true


      - name: run tests
        run: uv run pytest --capture=no
