name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: install python
        run: |
          set -ex
          sudo apt-get update
          sudo apt-get install -y python3 python3-virtualenv

      - name: install poetry
        run: |
          pipx install poetry && \
          poetry --version

      - name: checkout
        uses: actions/checkout@v2

      - name: install dependencies
        run: poetry install

      - name: run mypy
        run: poetry run mypy .

      - name: run black
        run: poetry run black .

      - name: install podman
        run: |
          set -exo pipefail
          sudo apt-get update
          sudo apt-get install -y podman
          sudo sed -i 's/unqualified-search-registries.*/unqualified-search-registries = ["docker.io"]/' /etc/containers/registries.conf
          podman info
          podman run --rm -ti busybox true


      - name: run tests
        run: poetry run pytest --capture=no
